#root {
    background: url("../../images/ffb3.jpg") center center repeat;
    background-size: 150px;
    min-height: 623px;
}

.container {
    width: 1200px;
    padding: 30px 15px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.orders {
    width: 25%;
    border: 1px solid black;
    padding: 0 15px;
    text-align: center;
    position: relative;
    background: #e99a27;
}

.addItems {
    width: 65%;
    border: 1px solid black;
    padding: 0 15px;
    background: #e99a27;
    height: 310px;
}

.itemsHeading {
    text-align: center;
}

.items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: right;
}

.name {
    font-size: 18px;
    padding-right: 20%;
    margin-bottom: 0;
}

.price {
    padding-right: 20%;
}

.hamburger {
    background: #e9b955 url("../../images/hamburger.svg") 10% center no-repeat;
    background-size: 50px 50px;
}

.pizza {
    background: #e9b955 url("../../images/pizza.svg") 10% center no-repeat;
    background-size: 50px 50px;
}

.hot-dog {
    background: #e9b955 url("../../images/hotdog.svg") 10% center no-repeat;
    background-size: 50px 50px;
}

.cake {
    background: #e9b955 url("../../images/cake.svg") 10% center no-repeat;
    background-size: 50px 50px;
}

.coffee {
    background: #e9b955 url("../../images/coffee.svg") 10% center no-repeat;
    background-size: 50px 50px;
}

.tea {
    background: #e9b955 url("../../images/tea.svg") 10% center no-repeat;
    background-size: 50px 50px;
}
.order {
    display: flex;
    border: 1px solid black;
    margin-bottom: 10px;
    background: #e9b955;
    position: relative;
    z-index: 2;
}

.orderName {
    width: 45%;
}

.counter {
    width: 20%;
}

.orderPrice {
    width: 20%;
}

.delete {
    width: 15%;
    background: url("../../images/trash.svg") center no-repeat;
    background-size: 20px 20px;
}
.totalPrice {
    margin-top: 80px;
    margin-bottom: 5px;
}
.empty {
    position: absolute;
    top: 70px;
    left: 34%;
    z-index: 1;
}